body, html {
  height: 100%;
  margin: 0;
}

.home-container {
  display: flex;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logout-button {
  margin-top: auto;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #0056b3;
}

.content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.header p {
  margin: 0;
}

.header input, .header select {
  width: 200px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-user-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.add-user-button:hover {
  background-color: #0056b3;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}
